services:
  postgres:
    container_name: postgres2
    image: postgres:16
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - nestjs-tutorial-network

volumes:
  postgres_data:

networks:
  nestjs-tutorial-network: